<!DOCTYPE html>
<html lang="{{ _lang | default('ru') }}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="design-system.css">
<style>
.vcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
</style>
</head>
<body>

{% for slide in slides %}
  {% set current_slide = slide %}
  {% set current_loop = loop %}
  {% set current_slides = slides %}
  {% set locale = _locale %}
  {% set lang = _lang %}
  {% include 'slides/' ~ slide.type ~ '.j2' %}
{% endfor %}

</body>
</html>
