<!DOCTYPE html>
<html lang="{{ lang | default('ru') }}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="design-system.css">
<style>
.vcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
</style>
</head>
<body>

{% block content %}{% endblock %}

</body>
</html>
